.gradient-background {
    background: linear-gradient(300deg, #54436B, #064635, #284E78);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #icons{
    background-color: rgba(0, 0, 0, 0.952);
    color: whitesmoke;
  }
  .animated-pulse {
    animation: pulse 2s infinite;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animated-slide-in {
    animation: slide-in 0.75s ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animated-fade-in {
    animation: fade-in 1.0s ease-in-out;
  }
  
  
  